<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- BARRA DE NAVEGACIÓN -->

<app-navbar></app-navbar>

<!-- SECCIÓN HERO CON CARRUSEL -->
<section id="inicio" class="carousel-container">
  <div class="carousel">
    <div
      class="slide"
      *ngFor="let img of images; let i = index"
      [class.active]="i === currentSlide()"
    >
      <img [src]="img" alt="Slide {{ i + 1 }}">
    </div>

    <button class="prev" (click)="prevSlide()">❮</button>
    <button class="next" (click)="nextSlide()">❯</button>

    <div class="dots">
      <span
        *ngFor="let img of images; let i = index"
        [class.active]="i === currentSlide()"
        (click)="goToSlide(i)"
      ></span>
      
    </div>
    
  </div>
</section>

<!-- SECCIÓN SERVICIOS -->

<app-seccion-servicios></app-seccion-servicios>

<!-- SECCIÓN SOBRE MÍ -->

<app-seccion-sobre-mi></app-seccion-sobre-mi>


<!-- SECCIÓN CONTACTO -->

<app-seccion-contacto></app-seccion-contacto>

